<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera</title>
   <style>
        #video {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    </style>
</head>
<body>

    <video id="video"></video>
    <img id="capturedImage" style="display:none;">
    <button id="snap">Take Photo</button>
    <button id="retake" style="display:none;">Retake Photo</button>
    <canvas id="canvas" style="display: none;"></canvas>


    <script src="../static/assets/js/camera_new.js"></script>
</body>
</html>