<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VotePages</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/assets/css/Container.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <link rel="stylesheet" href="../static/assets/css/signup.css">
    <link rel="stylesheet" href="../static/assets/css/css/nav_and_footer.css">
    <script defer src="../static/assets/js/camera_new.js"></script>
</head>

<body>
     <nav class="navbar navbar-expand-md py-3 navbar-light">
        <div class="container-fluid"><a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}" style="margin-left: -22px;"><span style="color: rgb(255,255,255);"><img src="../static/assets/img/clipboard-image.png" width="76" height="60"></span><span style="color: rgb(255,255,255);font-size: 25px;font-family: ABeeZee, sans-serif;">VoteBuddy</span></a><i class="icon ion-navicon-round navbar-toggler" id="nav-toggle-1" data-bs-toggle="collapse" data-bs-target="#navcol-2" style="font-size:30px;color:rgb(255,255,255);"></i>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav d-flex align-items-center mx-auto" style="color:rgb(255,255,255);transform:translate(0px);">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="d-flex justify-content-center">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;background: rgb(2,36,85);">Logout</button></a>
                    {% else %}
                        <a href="{{ url_for('register') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;background: rgb(2,36,85);">Register</button></a>
                        <a href="{{ url_for('login') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;background: rgb(2,36,85);">Login</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
               {% for category, message in messages %}
                   <div class="alert alert-{{ category }} mb-0">
                       {{ message }}
                   </div>
               {% endfor %}
           {% endif %}
       {% endwith %}
    <div class="container form-container">
        <div class="content" style="margin: 50px 0px;">
            <div class="text-and-supporting-text">
                <h1 class="text">Sign Up</h1>
                <h1 class="supporting-text">Welcome to VoteBuddy</h1>
            </div>
            <div class="content2">
                <form method="POST" enctype="multipart/form-data" id="registerForm">
                {{ form.hidden_tag() }}
                    <div class="input-with-label">
                        {{ form.matric_number.label(class="form-label") }}
                        {% if form.matric_number.errors %}
                        {{ form.matric_number(class="form-control fc is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.matric_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.matric_number(class="form-control fc", placeholder="AU20XX00XXX") }}
                    {% endif %}
                    </div>
                    <div class="input-with-label">
                        <label class="form-label">Password*</label>
                        {{ form.password(class="form-control fc", placeholder="Must be at least 8 characters") }}
                    </div>
                    <div class="input-with-label">
                        <label class="form-label">Confirm Password*</label>
                        {{ form.confirm_password(class="form-control fc", placeholder="Re-enter your password") }}
                    </div>

                    {{ form.image_byte_string.label }}
                    <div id="photo">
                        <video id="video" autoplay muted playsinline></video>
                        <img id="capturedImage" style="display:none;">
                        <div id="buttons">
                            <button class="btn btn-primary camera-btn" type="button" id="snap">Take Photo</button>
                            <button class="btn btn-primary camera-btn" type="button" id="retake" style="display:none;">Retake Photo</button>
                        </div>
                        <canvas id="canvas" style="display: none;"></canvas>
                    </div>
                    <div class="actions">
                       {{ form.submit(class="btn btn-primary submit") }}
                    </div>
                </form>
            </div>
            <div class="text-center" style="margin-top: 10px;">
                <p>Already have an account?</p><a href="{{ url_for('login') }}">Login</a>
            </div>
        </div>
    </div>
    <footer class="text-center py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <p class="my-2" style="color: var(--bs-body-bg);font-family: Inter, sans-serif;">Copyright&nbsp;© 2023 VoteBuddy</p>
                </div>
                <div class="col"></div>
                <div class="col">
                    <ul class="list-inline my-2" style="font-family: Inter, sans-serif;">
                        <li class="list-inline-item list-inline-item"><a href="#" style="color:var(--bs-secondary-bg);">Privacy Policy</a></li>
                        <li class="list-inline-item list-inline-item"><a href="#" style="color:var(--bs-secondary-bg);">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/js/jquery-3.2.1.min.js"></script>
    <script src="../static/assets/js/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="../static/assets/js/plugins/testimonial/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/js/script.js"></script>
</body>

</html>