<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VoteBuddy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="../static/assets/css/Font%20Awesome%205%20Free.css">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/assets/css/css/nav_and_footer.css">
    <link rel="stylesheet" href="../static/assets/css/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/css/signup.css">
    <link rel="stylesheet" href="../static/assets/css/scss/base/bootstrap.compiled.css">
    <link rel="stylesheet" href="../static/assets/css/scss/style-1.compiled.css">
    <link rel="stylesheet" href="../static/assets/css/scss/style.compiled.css">
    <link rel="stylesheet" href="../static/assets/css/css/all.min.css">
    <link rel="stylesheet" href="../static/assets/css/scss/base/basic_setup.compiled.css">
    <link rel="stylesheet" href="../static/assets/css/scss/response/responsive.compiled.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script defer src="../static/assets/js/accordion.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md py-3 navbar-light">
        <div class="container-fluid"><a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}" style="margin-left: -22px;"><span style="color: rgb(255,255,255);"><img src="../static/assets/img/clipboard-image.png" width="76" height="60"></span><span style="color: rgb(255,255,255);font-size: 25px;font-family: ABeeZee, sans-serif;">VoteBuddy</span></a><i class="icon ion-navicon-round navbar-toggler" id="nav-toggle-1" data-bs-toggle="collapse" data-bs-target="#navcol-2" style="font-size:30px;color:rgb(255,255,255);"></i>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav d-flex align-items-center mx-auto" style="color:rgb(255,255,255);transform:translate(0px);">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="d-flex justify-content-center">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;background: rgb(2,36,85);">Logout</button></a>
                    {% else %}
                        <a href="{{ url_for('register') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;background: rgb(2,36,85);">Register</button></a>
                        <a href="{{ url_for('login') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;background: rgb(2,36,85);">Login</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
               {% for category, message in messages %}
                   <div class="alert alert-{{ category }} mb-0">
                       {{ message }}
                   </div>
               {% endfor %}
           {% endif %}
       {% endwith %}
    <div class="container-xl big-padding">
        <div class="row section-title"><h2 class="fs-4">Augustine University Students' Representatives Election</h2>
            <p style="font-size: 20px">Cast Your Votes</p>
        </div>
        <form action="/cast-vote" method="POST" enctype="multipart/form-data">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <div class="accordion" id="accordionExample">
        {% for position in positions %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
              {{ position.title }}
          </button>
        </h2>
        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="row">
                      {% set candidate_positions = CandidatePositionAssociation.query.filter_by(position_id=position.id).all() %}
                  {% for candidate_position in candidate_positions %}
                      {% set candidate = Candidate.find_obj_by(id=candidate_position.candidate_id) %}
                <div class="col-md-6 col-lg-4">
			<div class="text-center text-white bg-white mb-4 votcard shadow-md p-4 pt-5"><img class="rounded-pill shadow-md p-2" src="../static/assets/img/candidate_img/{{ candidate.first_name  }}.jpg" alt="">
                        <h4 class="fs-3 fw-bold mt-3 mb-1"><strong>{{ candidate.name.title() }}</strong></h4>
                        <h6 class="fs-6 fs-7 fw-bold text-primary" style="margin-bottom: 16px;margin-top: 16px;">{{ candidate.department }}{#  : <span class="fw-bold text-primary"><br>{{ candidate.programme }}</span> #}</h6>
                        <input type="radio" class="btn-check" name="{{ position.title }}" value="{{ candidate_position.id }}" id="{{ candidate_position.id }}">
                        <label class="btn btn-outline-dark fw-bolder px-4 ms-2 fs-8" for="{{ candidate_position.id }}">Vote</label>
                    </div>
                </div>
                  {% endfor %}
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
        <input class="btn btn-primary mt-4" type="submit">
        </form>
    </div>
    <footer class="text-center py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <p class="my-2" style="color: var(--bs-body-bg);font-family: Inter, sans-serif;">Copyright&nbsp;© 2023 VoteBuddy</p>
                </div>
                <div class="col"></div>
                <div class="col">
                    <ul class="list-inline my-2" style="font-family: Inter, sans-serif;">
                        <li class="list-inline-item list-inline-item"><a href="#" style="color:var(--bs-secondary-bg);">Privacy Policy</a></li>
                        <li class="list-inline-item list-inline-item"><a href="#" style="color:var(--bs-secondary-bg);">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/assets/js/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="../static/assets/js/plugins/testimonial/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/js/script.js"></script>
</body>

</html>
